---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Fateme from "../assets/images/fateme.webp";
import Sina from "../assets/images/sina.webp";
---

<Layout title="Fasi">
	<main>
		<div class="hero bg-base-200 min-h-screen">
			<div class="hero-content flex-col lg:flex-row">
				<Image class="rounded-full" src={Fateme} alt="Fateme"  />
				<Image class="rounded-full" src={Sina} alt="Sina" />  
			</div>
		  </div>
	</main>
</Layout>
